 body {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 900;
    color: #2d1d5a;
 };
 * {
    box-sizing: border-box;
  }

  .header {
    border: 1px solid #ff0000;
  }

  .main {
    border: 1px solid black;
    margin: 100px;
    text-align: center
    
  }

  .footer {
    border: 1px solid yellow;
  }

  body {
    min-height: 100vh;
    margin: 0; padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
   .photo {
     position: absolute;
     margin: 10px 10px 10px 100px ;  
     padding: 10px;
     
   
  }
  .container {
    max-width: 1440px;
    margin: 0 auto;
      }

  .nav-list {
    display: inline-block;
    float: right;
    width: 300px;
    border: black 2px solid;
    margin-right: 100px;
    padding: 10px 20px;
    list-style: none;
  }
  .nav-link {
    text-decoration: none;
    color: rgb(71, 63, 116);
    }
  .nav-link:hover {
    color: #010004;
  }
  html {
    scroll-behavior: smooth; 
  }
 .list {
  list-style: none;
 }
 .year {
  text-align: right;
 }
  